{% extends 'base.html.twig' %}

{% block body %}
    <h2>Bienvenue sur la page d'accueil de Mon E-commerce</h2>
    <p>Explorez nos produits, découvrez nos catégories et faites de superbes achats !</p>
{% endblock %}
