<footer id="footer" class="bg-light-slate-gray">
    <div class="container py-4">
        <div class="row justify-content-center align-items-top text-center">
            <div class="col-12 col-sm-6 col-lg-4 mb-4">
                <img src="{{ asset('pictures/logo2.png') }}" class="footer-logo mb-2" alt="Logo">
            </div>
            <div class="col-12 col-sm-6 col-lg-4 mb-4">
                <h2 class="h5 text-decoration-underline">Informations</h2>
                <div>
                    <h5 class="mb-0 fw-bold">Adresse</h5>
                    <address class="small">
                        54 Rue de Villacoublay<br>
                        78140 Vélizy-Villacoublay
                    </address>
                </div>
                <div>
                    <h5 class="mb-0 fw-bold">Horaires d'ouverture</h5>
                    <p class="small">
                        Ouvert du lundi au samedi<br>
                        De 10h à 22h
                    </p>
                </div>
                <div>
                    <h5 class="mb-0 fw-bold">Localisation</h5>
                    <p class="small">
                        Notre boutique est située dans le coeur de Vélizy à 20 minutes de Paris!
                    </p>
                </div>
            </div>
            <div class="col-12 col-lg-4 mb-4 border-lg-right">
                <h2 class="h5 text-decoration-underline">Retrouvez-nous sur :</h2>
                <div class="social-icons">
                    <a href="https://www.instagram.com/" target="_blank" class="btn btn-outline-dark btn-social mx-1">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a href="https://www.facebook.com/" target="_blank" class="btn btn-outline-dark btn-social mx-1">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                </div>
                <p class="small mt-2">Instagram | Facebook</p>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <a href="#" class="text-dark fw-bold small px-1">Mentions légales</a> | 
                <a href="#" class="text-dark fw-bold small px-1">Contact</a> |
                <a href="#" class="text-dark fw-bold small px-1">Politique de confidentialité</a>
            </div>
        </div>
    </div>
</footer>