<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}O'Dodo{% endblock %}</title>

    <link rel="icon" type="image/jpg" href="{{ asset('pictures/favicon.png') }}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">


    {% block stylesheets %}
    
        {{ encore_entry_link_tags('app_style') }}
        
    {% endblock stylesheets %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}

    {% endblock javascripts %}
</head>
<body>

  
        {% include 'header/header.html.twig' with { 'cartItemCount': cartItemCount } %}

    <div class="container page-content">
        {% block body %}{% endblock %}
    </div>

    {% include 'footer/footer.html.twig' %}

</body>
</html>
